main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f2f2f2;

    .renderer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        overflow-y: auto;
    }

    .page_view {
        width: calc(100% - 10%);
        height: fit-content;
        min-height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 3% 5%;
        background-color: white;
        border-radius: 10px;
    }
}